/*1.003.05*/
@charset "utf-8";
*{
  margin:0;
  padding:0;
  }
a{
  text-decoration:none;
  color:#fff;
  }
.fnts{
  font-size:0;
  }
div.bg0{
  display:flex;
  flex-direction:column;
  width:100%;
  height:100vh;
  background:#0003 url("../media/Interior.webp") no-repeat center/cover;
  background-blend-mode:overlay;
  font-family:'HGP行書体','Times New Roman','cursive','Times','serif';
  color:#fff;
  user-select:none;
  }
header{
  background:#0006;
  padding:4px;
  }
header .tytl{
  max-width:980px;
  margin:0 auto;
  font-size:48px;
  font-weight:400;
  }
.bg0 span{
  display:inline-block;
  }
.sg{
  flex:1;
  align-content:center;
  text-align:center;
  writing-mode:vertical-rl;
  font-size:24px;
  }

.main1{
  padding:16px;
  background:#eee;
  }
.main1 div{
  max-width:1024px;
  margin:auto;
  }
.main1 p{
  text-indent:1em;
  }
.main1>div:not(:first-child){
  margin-top:48px;
  }
.button1{
  display:inline-block;
  padding:2px 4px;
  border:solid 2px #f72;
  border-radius:5px;
  background-color:#fec;
  font-size:1.4rem;
  line-height:1;
  color:#444;
  user-select:none;
  }
.button1:hover{
  background-color:#f72;
  color:#fff;
  }
.enkai dl dt{
  border-bottom:1px solid;
  max-width:8em;
  margin-top:1.2em;
  padding-left:0.5em;
  font-size:20px;
  line-height:1.2;
  }
.enkai dl dd{
  margin-top:2px;
  }
.shinfo{
  margin:auto;
  max-width:1024px;
  }
.shinfo dt{
  margin-top:8px;
  }
.shinfo dl{
  display:inline-block;
  min-width:32%;
  }
.shinfo dl dt:before{
  content:'';
  display:inline-block;
  width:0.5em;
  height:0.2em;
  margin-right: 0.3em;
  vertical-align: middle;
  background: #bc9249;
  }
.armap{
  display:inline-block;
  vertical-align:top;
  width:65%;
  aspect-ratio:16 / 9
  }
.armap>div{
  width:100%;
  height:100%;
  }
.armap iframe{
  width:100%;
  height:100%;
  border:1px solid;
  }
.scroll-btn{
  display:none;
  position:fixed;
  bottom:24px;
  right:24px;
  cursor:pointer;
  user-select:none;
  }

footer{
  padding:32px 4px;
  background:#000;
  color:#fff;
  text-align: center;
  }
.footi{
  max-width:600px;
  margin:0 auto;
  font-size:14px;
  }
.index{
  margin-bottom:12px;
  font-size:0px;
  }
.index ul{
  list-style: none;
  }
.index li{
  display: inline;
  font-size:14px;
  line-height:1;
  }
.index ul li:not(:first-child):before {
  display:inline;
  margin:auto 1em;
  content: "|";
  }
.index a{
  color:#fff;
  }
.index a:hover,a:hover{
  text-decoration: underline;
  }
.baceinfo{
  display:flex;
  margin:24px 0;
  justify-content: space-between;
  text-align:left
  }
  
.insta figure{
  display:flex;
  align-items:center;
  }
.snsicon{
  width:24px;
  height:24px;
  user-select:none;}
.insta figcaption{
  margin-left:4px;
  line-height:1;
  }
.insta figcaption::after{
  display:inline-block;
  content:"";
  background-image:url(../media/a-blank.svg);
  margin-left:8px;
  height:13px;
  width:13px;
  vertical-align:middle;
  }
.qr_sns{
  display:none;
  width:128px;
  height:128px;
  }
