@media (max-width:1024px){
.armap{
  }
  }
@media (max-width:900px){
.armap{
  display:block;
  width:100%;
  max-width:560px;
  }
  }
@media (max-width:768px){
.scroll-btn{
  right:5%;
  }
  }
@media (max-width:480px){
header{
  padding:4px 2px;
  }
  }
