@media print{
.pn,.order,.pagetop{
  display:none;
  }
header{
  border-top:1px solid;
  text-align:center;
  font-size:32px;
  }
  }
@media not print{
.qr_sns{
  display:none;
  }
  }
