@media (max-width:1024px){
.armap{
  display:block;
  }
  }
@media (max-width: 768px){
header p{
  font-size:48px;
  }
.armap{
  display:block;
  width:100%;
  }
.pagetop{
  right:5%;
  }
  }
@media (max-width: 480px){
header{
  padding:4px 2px;
  }
header p{
  font-size:32px;
  }
  }
