/*1.002.01*/
*{
  margin:0;
  padding:0;
  }
a{
  text-decoration:none;
  color:#fff;
  }
header{
  width:100%;
  height:100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2)),
  url("../media/Interior.webp");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  user-select:none;
  color:#fff;
  /*
  object-fit:cover;*/
  }
header .bg0{
  background:rgb(0,0,0,0.4);
  padding:4px;
  }
header .tytl{
  max-width:1000px;
  margin:0 auto;
  font:32px "HGP行書体";
  font-weight:400;
  }
header span{
  display:inline-block;
  }
.sg{
  margin:35vh auto;
  writing-mode: vertical-rl;
  }

.fnts{
  font-size:0;
  }

.main1{
  padding:16px;
  background:#eee;
  }
.main1 p{
  text-indent:1em;
  }
.main1>div:not(:first-child){
  margin-top:48px;
  }
.img{
  overflow: hidden;
  }
.img1{
  display: block;
  width:100%;
  height:910px;
  object-fit: cover;
  object-position: center top;
  }
.button1{
  display:inline-block;
  padding:2px 4px;
  border:solid 2px #f72;
  border-radius:5px;
  background-color:rbg(225,225,225,1);
  font-size:1.4rem;
  line-height:1;
  color:#444;
  user-select:none;
  }
.order a{
  color:#0bf;
  }
.button1:hover{
  background-color:#bff;
  color:#0bf;
  }
.enkai{
  max-width:1024px;
  margin:auto;
  }
.enkai dl dt{
  border-bottom:1px solid;
  max-width:8em;
  margin-top:1.2em;
  padding-left:0.5em;
  font-size:20px;
  line-height:1.2;
  }
.enkai dl dd{
  margin-top:2px;
  }
.shinfo{
  margin:auto;
  max-width:1024px;
  }
.shinfo dl{
  display:inline-block;
  min-width:32%;
  margin:0 0 8px 8px;
  }
.shinfo dl dt:before{
  content:'';
  display:inline-block;
  width:8px;
  height:3px;
  margin-right: 0.3em;
  vertical-align: middle;
  background: #bc9249;
  }
.armap{
  display:inline-block;
  vertical-align:top;
  width:65%;
  aspect-ratio:16 / 9
  }
.armap>div{
  width:100%;
  height:100%;
  }
.armap iframe{
  width:100%;
  height:100%;
  border:1px solid;
  }
.scroll-btn{
  display:none;
  position:fixed;
  bottom:24px;
  right:24px;
  cursor:pointer;
  user-select:none;
  }

footer{
  padding:32px 4px;
  background:#000;
  color:#fff;
  text-align: center;
  }
.footi{
  max-width:600px;
  margin:0 auto;
  font-size:14px;
  }
.index{
  margin-bottom:12px;
  font-size:0px;
  }
.index ul{
  list-style: none;
  }
.index li{
  display: inline;
  font-size:14px;
  line-height:1;
  }
.index ul li:not(:first-child):before {
  display:inline;
  margin:auto 1em;
  content: "|";
  }
.index a{
  color:#fff;
  }
.index a:hover,a:hover{
  text-decoration: underline;
  }
.baceinfo{
  display:flex;
  margin:24px 0;
  justify-content: space-between;
  text-align:left
  }
  
.insta figure{
  display:flex;
  align-items:center;
  }
.snsicon{
  width:24px;
  height:24px;
  user-select:none;}
.insta figcaption{
  margin-left:4px;
  line-height:1;
  }
.insta figcaption::after{
  display:inline-block;
  content:"";
  background-image:url(../media/a-blank.svg);
  margin-left:8px;
  height:13px;
  width:13px;
  vertical-align:middle;
  }
.qr_sns{
  display:none;
  width:128px;
  height:128px;
  }
